<div class="top-fixed">
  <div class="progress-container">
    <div class="progress-bar" style="width: {{precentage}};"></div>
  </div>
</div>

<div id="info-header">
  <span id="username" class="username info">听临</span>
  <a href="/logout" class="info">退出</a>
  <span id="playerposition" class="pull-right info">{{position}} / {{length}}</span>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span4 offset4">
      <div id="song-cover">
        <img src="{{picture}}" alt="{{albumtitle}}" class="img-polaroid" />
      </div>
      <div class="row-fluid" id="song-info">
        <h4 id="song-title">
          {{title}} <small> {{artist}} - {{albumtitle}} </small>
        </h4>
      </div>
      <div id="actions" class="row-fluid" >
        <span id="rate" class="icon
        {{#if like}}
          icon-heart-red
        {{else}}
          icon-heart-black
        {{/if}}"></span>
        <span id="ban" class="icon icon-trash"></span>
        <span id="skip" class="icon icon-skip"></span>
      </div>
      <div id="infos" class="alert alert-success"> Hei, you are great. </div>
    </div>
  </div>
</div>



