<div class="navbar navbar-fixed-top player-status">
  <div class="progress-play" style="width: {{precentage}};"></div>
  <div class="navbar-inner">
    <div class="container">
      <div class="row bd">
        <h2 class="song-title">{{title}}</h2>
      </div>
      <div class="row ft">
        <div class="author">{{artist}} - {{albumtitle}}</div>
        <div class="position"> {{position}} / {{length}} </div>
      </div>
    </div>
  </div>
</div>

