div.cover-container
  div.progress
    div.bg.left
      div.fg

    div.bg.right
      div.fg

    div.cover-bg(style="background-image: url('#{picture}')")
      div.infos
        #{title}
        small #{artist} - #{albumtitle}
        #playerposition.info #{position} / #{length}


// actions begin
div#actions.row-fluid
  a#rate.span4
    if like
      i.icon.icon-heart-red
    else
      i.icon.icon-heart-black

  a#ban.span4
    i.icon.icon-trash

  a#skip.span4(href=sid)
    i.icon.icon-skip

